<div class="form-group" ng-controller="PaymentsCtrl">
	<label for="customer">Customer NO</label>
	<form ng-submit="searchCustomerPayment()">
		<div class="row">
			<div class="col-md-6">
				<input type="text" ng-model="search" placeholder="Ex. 02134565623" class="form-control" required>
			</div>
			<div class="col-md-4">
				<select ng-model="order" class="form-control" required>
					<option value="">Please Select</option>
					<option value="1" selected=>Last Month</option>
					<option value="3" selected=>Last Three Months</option>
					<option value="6" selected=>Last Six Months</option>
					<option value="12" selected=>Last Year</option>
					<option value="0" selected=>All Time</option>
				</select>
			</div>
			<div class="col-md-2">
				<button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i> Search</button>
			</div>
		</div>
	</form>
</div>


<div class="row" ng-controller="PaymentsIdCtrl">
	<div class="col-md-3">
		<img src="images/profile.jpg" class="img img-thumbnail" alt="">
	</div>
	<div class="col-md-9">
		<table class="table table-bordered">
			<tr>
				<td>Citizen NO</td>
				<td>{{ datas.identity.citizen_no }}</td>
			</tr>
			<tr>
				<td>Full Name</td>
				<td>{{ datas.identity.full_name }}</td>
			</tr>
			<tr>
				<td>Birthdate</td>
				<td>{{ datas.identity.birthdate }}</td>
			</tr>
			<tr>
				<td>Place of Birth</td>
				<td>{{ datas.identity.place_of_birth }}</td>
			</tr>
			<tr>
				<td>Mother Name</td>
				<td>{{ datas.identity.mother_name }}</td>
			</tr>
			<tr>
				<td>Father Name</td>
				<td>{{ datas.identity.father_name }}</td>
			</tr>
			<tr>
				<td>Status of Service</td>
				<td>{{ datas.status }}</td>
			</tr>
			<tr ng-if="! datas.status">
				<td>Closing Date</td>
				<td>{{ datas.closing_date }}</td>
			</tr>
		</table>
	</div>
</div>

<div class="row" ng-controller="PaymentsIdCtrl">
	<div class="col-md-12">
	<legend>Payments</legend>
	<table class="table table-bordered">
		<tr>
			<td>#</td>
			<td>Billed Date</td>
			<td>Cost</td>
			<td>Taxes</td>
		</tr>
		<tr ng-repeat="payment in datas.bills track by $index ">
			<td>{{ $index + 1 }}</td>
			<td>{{ payment.billed_date }}</td>
			<td>{{ payment.cost }}</td>
			<td>{{ payment.taxes }}</td>
		</tr>
	</table>
	</div>
</div>
