<div class="form-group">
	<label for="customer">Customer NO</label>
	<div class="row">
		<div class="col-md-10">
			<input type="text" placeholder="Ex. 02134565623" class="form-control">
		</div>
		<div class="col-md-2">
			<button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i> Search</button>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-3">
		<img src="images/profile.jpg" class="img img-thumbnail" alt="">
		<a href="/#/customers/01234567989/edit" class="btn btn-sm btn-width btn-primary">
			<i class="glyphicon glyphicon-pencil"></i>	Edit Profile
		</a>
	</div>
	<div class="col-md-9">
		<table class="table table-bordered">
			<tr>
				<td>Citizen NO</td>
				<td>01234567989</td>
			</tr>
			<tr>
				<td>Full Name</td>
				<td>Serhat Perkmen</td>
			</tr>
			<tr>
				<td>Birthday</td>
				<td>26.09.1992</td>
			</tr>
			<tr>
				<td>Place of Birth</td>
				<td>Manisa</td>
			</tr>
			<tr>
				<td>Mother Name</td>
				<td>Ayşe</td>
			</tr>
			<tr>
				<td>Father Name</td>
				<td>İbrahim</td>
			</tr>
			<tr>
				<td>Status of Service</td>
				<td>Closed</td>
			</tr>
			<tr>
				<td>Closing Date</td>
				<td>02.12.2011</td>
			</tr>
		</table>
	</div>
</div>