<div class="row node">

  <a href="/#/payments" class="col-md-6 col-xs-12 child">
    <div class="payments"></div>
    <div class="header">Payment</div>
  </a>

  <a href="/#/debts" class="col-md-6 col-xs-12 child">
    <div class="debts"></div>
    <div class="header">Debts</div>
  </a>

</div>

<div class="row node">

  <a href="/#/customers" class="col-md-6 col-xs-12 child">
    <div class="customers"></div>
    <div class="header">Customers</div>
  </a>
  <a href="/#/statistics" class="col-md-6 col-xs-12 child">
    <div class="statistics"></div>
    <div class="header">Statistics</div>
  </a>

</div>
