<div class="col-md-6 col-md-offset-3" ng-controller="SignupCtrl">
	<form name="signupForm" ng-submit="signup()" >
		<img src="images/logo.png" style="width: 100%;" alt="Logo"><br>
		<div>
			<label for="full_name">Full Name</label>
			<input name="full_name" class="form-control" type="text" id="full_name" placeholder="Full Name"
			ng-model="full_name" required>
		</div>
		<br>
		<div>
			<label for="email">Email</label>
			<input name="email" class="form-control" type="email" id="email" placeholder="Email"
			ng-model="email" required>
		</div>
		<br>
		<div>
			<label for="password">Password</label>
			<input name="password" class="form-control" type="password" id="password"
			placeholder="Password" ng-model="password" required>
		</div>
		<br>
		<div>
			<label for="admin">Admin</label>
			<select  class="form-control" ng-model="admin" ng-options="option.name for option in adminOptions track by option.value"></select>
		</div>
		<br>
		<button type="submit" class="btn btn-primary form-control">Add User</button>
	</form>
</div>
